<div>
    <div class="card-body">
        <h1>Ingrese los Datos</h1>
        <form>
            <br>
            <div class="formgroup">
                <input type="text" [(ngModel)]="ciudades.nombre" name="nombre" placeholder="Ingrese el nombre" class="form-control" autofocus>
            </div>
            <br><br>
            <div class="formgroup">
                <Label>Seleccione el país</Label>
                <select name="lista" [(ngModel)]="ciudades.id_pais">
                    <option [value]="p.id" *ngFor="let p of pais">{{p.nombre}}</option>
                </select>
            </div>
            <br><br>
            <div class="formgroup">
                <input type="text" [(ngModel)]="ciudades.poblacion" name="poblacion" placeholder="Ingrese la poblacion" class="form-control" autofocus>
            </div>
            <br><br>
            <button class="btn btn-success btn-block" (click)=" guardarCiudad()">Guardar Registro</button>
        </form>
    </div>
</div>