<div>
    <div class="card-body">
        <h1>Ingrese sus Datos</h1>
        <form>
            <div class="formgroup">
                <input type="text" [(ngModel)]="sesion.correo" name="nombre" placeholder="Ingrese su nombre" class="form-control" autofocus>
            </div>
            <div class="formgroup">
                <input type="password" [(ngModel)]="sesion.clave" name="clave" placeholder="Ingrese su clave" class="form-control" autofocus>
            </div>
            <button class="btn btn-success btn-block" (click)="iniciarSesion()">Iniciar Sesion</button>
        </form>
    </div>
</div>
